/* Universal selector */
*{
    margin:0;
    padding:0;
}
h1{
    color: blue;
    text-align: center; 
}

#para1{
    color : green;
    text-decoration: underline;
}

.para2{
    border-style:solid;
    color : red;
    border-width:5px;
}
h4.features{
    color:orange;
    background:gray;
}
.heading{
    font-weight:900 ;
}

/* More on selectors */
/* group select */
h1,h2,h3{
    color:saddlebrown ;
    background-color: azure;
}
